/* File:        $Id$
 * Revision:    $Revision$
 * Author:      $NielsGamborg$
 * Date:        $2016-04-07$
 *
 * The Netarchive Suite - Software to harvest and preserve websites
 * Copyright 2004-2009 Det Kongelige Bibliotek and Statsbiblioteket, Denmark
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 *
 *
 * CSS style rules for the webarchive interface
 */
body {
    background-color: #ffffff;
    font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #8b0000;
    font-weight: bold;
    font-size: 240%;
}

h2 {
    color: black;
    font-weight: bold;
    font-size: 140%;
}

h3 {
    background-color: transparent;
    color: #113366;
    font-size:24px;
    font-weight:bold;
    margin: 1.5em 0 0.5em;
    padding: .2em 0px;
}

h4 {
    color: black;
    font-weight: bold;
    font-size: 120%;
}

h5 {
    color: black;
    font-weight: bold;
    font-size: 100%;
}

h6 {
    color: black;
    font-weight: bold;
    font-size: 90%;
}


a {
    color: #336699;
    cursor: pointer;
    font-family: verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration:none;
}

a:hover {
    color: #1e3b57;
    text-decoration:underline ;
}

a:active {
    text-decoration:underline ;
}

h3 a{
    font-size:24px;
    font-weight:bold;
    background-color: #ffff99;
}


p{
    margin: .5em 0;
}

br{
    margin: .5em 0;
}

hr{
    border-bottom: 0;
    border-top: 1px solid #999;
}

pre{
    word-wrap: break-word;
}

img {
    border-width: 0;
}

/* Input styles */
input, select{
    margin: 0.2em 20px 0.2em 0;
}

input[type="submit"]{
    background-color: #79a7c0;
    border: 0;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    margin: .5em .5em .5em 0;
    padding: .1em .5em .2em;
}

input[type="submit"]:hover {
    background-color: #6a9db7;
}

input[type="submit"]:active {
    background-color: #5e95ae;
}

[readonly="readonly"] {
    background-color: #eee;
}

input[name=addDomains] {
    position:relative;
}

select{
    margin-bottom: 1em;
    vertical-align: text-top;
}

#templates select{
    vertical-align: baseline;
}

/* Table styles */
table{
    border-collapse: collapse;
    margin-bottom: 1em;
}

tr {
    font-size:12px;
    font-style:normal;
}

tr.row0 {
    background-color: #f0f0f0;
}

tr.row1 {
    background-color: white;
}

td,th{
    border: 1px solid white;
}

th{
    background-color: #b5d0eb;
    font-size: 14px;
    padding: 0.2em 10px;
}

td {
    padding: 0.5em 10px;
}

/* Table special case styles */
#main_table, .selection_table  {
    width:100%;
}

.selection_table th {
    text-align: left;
}

#main_table > tbody > tr > td{
    border: 0;
    padding: 20px;
}

#main_table > tbody > tr > td:last-child{
    padding: 0 20px 0 20px;
}

table.selection_table, table#system_state_table {
    margin-top: 1em;
}

#system_state_table tr:nth-child(odd){
    background-color: #f0f0f0;
}

/* Overwriting inline stylesheet for templates */
table table[id="templates"] tr.light td { /* Many selctors to overwrite inline style */
    background-color: #eaf1f6;
    padding: 3px 10px;
}

table table[id="templates"] tr.dark td {
    background-color: #dde4e9;
    padding: 3px 10px;
}

table table[id="templates"] td a {
    color: #336699;
}

/* Menu styles */
td#menu, table#menu_table{
    background-color: #f0f0f0;
    width: 18em;
}

table#menu_table {
    width: 20em;
}


table#menu_table td{
    border: 0;
    padding: 0;
}

table#menu_table a{
    display: inline-block;
    padding: .2em 0;
}

.sidebarHeader {
    font-family: sans-serif;
    font-size: 18pt;
    color: black;
    line-height: 54px;
    margin-bottom: .5em;
    margin-top: .2em;
}

.sidebarHeader:hover {
    text-decoration: none;
}

.sidebarHeader img {
    vertical-align: middle;
}

/* Language bar styles */
.languagelinks{
    float: right;
    margin-right: -20px;
    padding-top: .2em ;
}

.languagelinks a{
    border-right: 1px solid #ccc;
    color: #666;
    display: inline-block;
    font-size: 12px;
    padding: .1em 0.4em .1em .2em;
}

.languagelinks a:last-child{
    border-right: 0px;
}

/* Special case styles */
.edit_box{
    border: 2px solid #D4ECFB;
    width: 90%;
    position: relative;
    left:5%;
}

#error_message{
    background-color:#FFFDED;
    font-size: 14pt;
    position:relative;
    left:10%;
    width: 80%;
    border-color:#E9556A;
    border-style:ridge;
    border-width:4pt;
    padding:4pt;
}

#message{
    background-color:#FFFDED;
    font-size: 14pt;
    position:relative;
    left:10%;
    width: 80%;
    border-color:#EAE4EF;
    border-style:ridge;
    border-width:4pt;
    padding:4pt;

}

#message a{
    font-size: 14pt;
}

form.inlineform {
    display: inline;
    font-size: 12pt;
    border-style:none;
}

form h4{ /* Statuspage with no header */
    font-weight: normal;
    margin-top: 3em;
}

/* Fotter styles */
.systeminfo {
    background-color: #f0f0f0;
    color: #f04e23; /*#666;*/
    font-size: 12px;
    margin-top: 2em;
    padding: .2em 20px;
    text-align: center;
}

/* only in history-gui */
.selection_table .harvestHeader {
    text-align: center;
    background-color: #cce1f4;
    font-size:14px;
    font-weight:bold;
}

.selection_table .spacerRowSmall {
    margin: 5;
    padding: 0;
}

.selection_table .spacerRowBig {
    margin: 15;
    padding: 0;
}

.crawlerHost a:link {
    font-weight:bold;
}

.crawlerhost a:visited {
    color: #660099;
}


