target/
*.iml
*.ipr
.classpath
.project
.settings/
working/
*~
.idea/
.gitignore
# NAS junk files
derby.log
**/archive-test/checksum/
**/heritrix1-controller/oldjobs/
**/wayback-indexer/derbyDB/
**/harvester-test/tmp
**/harvester-test/tmp1
**/wayback-test/derbyDB/
**/wayback-resourcestore/admin.data
**/pom.xml.versionsBackup
# Additional junkfiles that ideally should be cleaned up after finishing the test
harvester/heritrix1/heritrix1-controller/oldjobs/
deploy/deploy-core/dir_kb-test-bar-010.bitarkiv.kb.dk.bat
deploy/deploy-core/dir_kb-test-bar-011.bitarkiv.kb.dk.bat
deploy/deploy-core/install_K.sh
deploy/deploy-core/install_S.sh
deploy/deploy-core/kb-test-acs-001.kb.dk/
deploy/deploy-core/kb-test-adm-001.kb.dk/
deploy/deploy-core/kb-test-bar-010.bitarkiv.kb.dk/
deploy/deploy-core/kb-test-bar-011.bitarkiv.kb.dk/
deploy/deploy-core/kb-test-har-001.kb.dk/
deploy/deploy-core/kb-test-har-002.kb.dk/
deploy/deploy-core/killall_K.sh
deploy/deploy-core/killall_S.sh
deploy/deploy-core/nas.zip
deploy/deploy-core/sb-test-acs-001.statsbiblioteket.dk/
deploy/deploy-core/sb-test-bar-001.statsbiblioteket.dk/
deploy/deploy-core/sb-test-har-001.statsbiblioteket.dk/
deploy/deploy-core/startall_K.sh
deploy/deploy-core/startall_S.sh

