
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  metadata-complete="true" version="2.5">

  <display-name>
    Harvest Planning
  </display-name>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/fmt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/c</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
  </jsp-config>

  <servlet>
    <servlet-name>HarvestChannelMappingServlet</servlet-name>
    <display-name>HarvestChannelMappingServlet</display-name>
    <description>Ajax processing for HarvestChannel-edit-harvest-mappings.jsp</description>
    <servlet-class>dk.netarkivet.harvester.webinterface.HarvestChannelMappingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HarvestChannelMappingServlet</servlet-name>
    <url-pattern>/mapHarvestToChannel</url-pattern>
  </servlet-mapping>

</web-app>