<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!--
   If this file is not placed on the classpath then it can be loaded at runtime
   with java -Dlogback.configurationFile=/path/to/thisfile.xml
 -->

  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">

    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </layout>
    <target>System.err</target>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="STDERR"/>
  </root>

</configuration>
