<settings>
    <wayback>
         <urlcanonicalizer>
             <classname>
                 dk.netarkivet.wayback.batch.copycode.NetarchiveSuiteAggressiveUrlCanonicalizer
             </classname>
         </urlcanonicalizer>
        <hibernate>
            <c3p0>
                <acquireIncrement>1</acquireIncrement>
                <idleTestPeriod>100</idleTestPeriod>
                <maxSize>100</maxSize>
                <maxStatements>100</maxStatements>
                <minSize>10</minSize>
                <timeout>100</timeout>
            </c3p0>
            <connectionUrl>jdbc:derby:derbyDB/wayback_indexer_db;create=true</connectionUrl>
            <dbDriverClass>org.apache.derby.jdbc.ClientDriver</dbDriverClass>
            <useReflectionOptimizer>false</useReflectionOptimizer>
            <transactionFactory>org.hibernate.transaction.JDBCTransactionFactory</transactionFactory>
            <dialect>org.hibernate.dialect.DerbyDialect</dialect>
            <showSql>true</showSql>
            <formatSql>true</formatSql>
            <hbm2ddlAuto>update</hbm2ddlAuto>
            <user></user>
            <password></password>
        </hibernate>
        <indexer>
            <replicaId>ONE</replicaId>
            <finalBatchOutputDir>batchOutputDir</finalBatchOutputDir>
            <tempBatchOutputDir>tempdir</tempBatchOutputDir>
            <maxFailedAttempts>3</maxFailedAttempts>
            <producerDelay>0</producerDelay>
            <producerInterval>86400000</producerInterval>
            <consumerThreads>5</consumerThreads>
            <initialFiles></initialFiles>
        </indexer>
        <aggregator>
            <indexFileInputDir>batchOutputDir</indexFileInputDir>
            <indexFileOutputDir>indexDir</indexFileOutputDir>
            <tempAggregatorDir>aggregator_tempdir</tempAggregatorDir>
            <!-- 600000 milliseconds = 10 minutes -->
            <aggregationInterval>600000</aggregationInterval>
            <!-- 102400 KB = 100 MB -->
            <maxIntermediateIndexFileSize>102400</maxIntermediateIndexFileSize>
            <!-- 104857600 KB = 100 GB -->
            <maxMainIndexFileSize>104857600</maxMainIndexFileSize>
        </aggregator>
    </wayback>
</settings>