<?xml version="1.0" encoding="UTF-8"?>
<!--
 * File:        $Id$
 * Revision:    $Revision$
 * Author:      $Author$
 * Date:        $Date$
 *
 * The Netarchive Suite - Software to harvest and preserve websites
 * Copyright 2004-2010 Det Kongelige Bibliotek and Statsbiblioteket, Denmark
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 */
-->
<!--
    This file contains the default settings used by the common module.

    For documentation of the individual settings, please refer to the
    javadoc for dk.netarkivet.common.CommonSettings.java
-->
<settings>
    <common>
        <environmentName>DEV</environmentName>
        <tempDir>./tests/commontempdir</tempDir>
        <remoteFile>
            <class>dk.netarkivet.common.distribute.HTTPRemoteFile</class>
        </remoteFile>
        <jms> <!-- Connection data for JMS-->
            <class>dk.netarkivet.common.distribute.JMSConnectionSunMQ</class>
        </jms>
        <http>
            <port></port>
        </http>
        <arcrepositoryClient>
            <class>dk.netarkivet.archive.arcrepository.distribute.JMSArcRepositoryClient</class>
        </arcrepositoryClient>
        <monitorregistryClient>
            <class>dk.netarkivet.monitor.distribute.JMSMonitorRegistryClient</class>
            <reregisterdelay>1</reregisterdelay>
        </monitorregistryClient>
        <indexClient>
            <class>dk.netarkivet.archive.indexserver.distribute.IndexRequestClient</class>
        </indexClient>
        <cacheDir>cache</cacheDir>
        <processTimeout>5000</processTimeout>
        <notifications>
            <class>dk.netarkivet.common.utils.EMailNotifications</class>
        </notifications>
        <freespaceprovider>
            <class>dk.netarkivet.common.utils.DefaultFreeSpaceProvider</class>
        </freespaceprovider>
        <mail>
            <server>localhost</server>
        </mail>
        <jmx> <!-- JMX logging settings -->
            <port>8100</port>
            <rmiPort>8200</rmiPort>
            <passwordFile>conf/jmxremote.password</passwordFile>
            <accessFile>conf/jmxremote.access</accessFile>
            <timeout>120</timeout>
        </jmx>
        <webinterface> <!-- Settings for the web GUI -->
            <language>
                <locale>da</locale>
                <name>Dansk</name>
            </language>
            <language>
                <locale>en</locale>
                <name>English</name>
            </language>
            <language>
                <locale>de</locale>
                <name>Deutsch</name>
            </language>
            <language>
                <locale>it</locale>
                <name>Italiano</name>
            </language>
            <language>
                <locale>fr</locale>
                <name>Français</name>
            </language>
            <siteSection>
                <class>dk.netarkivet.harvester.webinterface.DefinitionsSiteSection</class>
                <webapplication>webpages/HarvestDefinition.war</webapplication>
            </siteSection>
            <siteSection>
                <class>dk.netarkivet.harvester.webinterface.HistorySiteSection</class>
                <webapplication>webpages/History.war</webapplication>
            </siteSection>
            <siteSection>
                <class>dk.netarkivet.archive.webinterface.BitPreservationSiteSection</class>
                <webapplication>webpages/BitPreservation.war</webapplication>
            </siteSection>
            <siteSection>
                <class>dk.netarkivet.viewerproxy.webinterface.QASiteSection</class>
                <webapplication>webpages/QA.war</webapplication>
            </siteSection>
            <siteSection>
                <class>dk.netarkivet.monitor.webinterface.StatusSiteSection</class>
                <webapplication>webpages/Status.war</webapplication>
            </siteSection>
        </webinterface>
        <topLevelDomains>
            <tld>ac</tld>
            <tld>ad</tld>
            <tld>ae</tld>
            <tld>aero</tld>
            <tld>af</tld>
            <tld>ag</tld>
            <tld>ai</tld>
            <tld>al</tld>
            <tld>am</tld>
            <tld>an</tld>
            <tld>ao</tld>
            <tld>aq</tld>
            <tld>ar</tld>
            <tld>arpa</tld>
            <tld>as</tld>
            <tld>gv.at</tld>
            <tld>ac.at</tld>
            <tld>or.at</tld>
            <tld>co.at</tld>
            <tld>at</tld>
            <tld>au</tld>
            <tld>aw</tld>
            <tld>ax</tld>
            <tld>az</tld>
            <tld>ba</tld>
            <tld>bb</tld>
            <tld>bd</tld>
            <tld>be</tld>
            <tld>bf</tld>
            <tld>bg</tld>
            <tld>bh</tld>
            <tld>bi</tld>
            <tld>biz</tld>
            <tld>bj</tld>
            <tld>bm</tld>
            <tld>bn</tld>
            <tld>bo</tld>
            <tld>br</tld>
            <tld>bs</tld>
            <tld>bt</tld>
            <tld>bv</tld>
            <tld>bw</tld>
            <tld>by</tld>
            <tld>bz</tld>
            <tld>ca</tld>
            <tld>cat</tld>
            <tld>cc</tld>
            <tld>cd</tld>
            <tld>cf</tld>
            <tld>cg</tld>
            <tld>ch</tld>
            <tld>ci</tld>
            <tld>ck</tld>
            <tld>cl</tld>
            <tld>cm</tld>
            <tld>cn</tld>
            <tld>co</tld>
            <tld>com</tld>
            <tld>coop</tld>
            <tld>cr</tld>
            <tld>cs</tld>
            <tld>cu</tld>
            <tld>cv</tld>
            <tld>cx</tld>
            <tld>cy</tld>
            <tld>cz</tld>
            <tld>de</tld>
            <tld>dj</tld>
            <tld>dk</tld>
            <tld>dm</tld>
            <tld>do</tld>
            <tld>dz</tld>
            <tld>ec</tld>
            <tld>edu</tld>
            <tld>ee</tld>
            <tld>eg</tld>
            <tld>eh</tld>
            <tld>er</tld>
            <tld>es</tld>
            <tld>et</tld>
            <tld>eu</tld>
            <tld>fi</tld>
            <tld>fj</tld>
            <tld>fk</tld>
            <tld>fm</tld>
            <tld>fo</tld>
            <tld>fr</tld>
            <tld>ga</tld>
            <tld>gb</tld>
            <tld>gd</tld>
            <tld>ge</tld>
            <tld>gf</tld>
            <tld>gg</tld>
            <tld>gh</tld>
            <tld>gi</tld>
            <tld>gl</tld>
            <tld>gm</tld>
            <tld>gn</tld>
            <tld>gov</tld>
            <tld>gp</tld>
            <tld>gq</tld>
            <tld>gr</tld>
            <tld>gs</tld>
            <tld>gt</tld>
            <tld>gu</tld>
            <tld>gw</tld>
            <tld>gy</tld>
            <tld>hk</tld>
            <tld>hm</tld>
            <tld>hn</tld>
            <tld>hr</tld>
            <tld>ht</tld>
            <tld>hu</tld>
            <tld>id</tld>
            <tld>ie</tld>
            <tld>il</tld>
            <tld>im</tld>
            <tld>in</tld>
            <tld>info</tld>
            <tld>int</tld>
            <tld>io</tld>
            <tld>iq</tld>
            <tld>ir</tld>
            <tld>is</tld>
            <tld>it</tld>
            <tld>je</tld>
            <tld>jm</tld>
            <tld>jo</tld>
            <tld>jobs</tld>
            <tld>jp</tld>
            <tld>ke</tld>
            <tld>kg</tld>
            <tld>kh</tld>
            <tld>ki</tld>
            <tld>km</tld>
            <tld>kn</tld>
            <tld>kp</tld>
            <tld>kr</tld>
            <tld>kw</tld>
            <tld>ky</tld>
            <tld>kz</tld>
            <tld>la</tld>
            <tld>lb</tld>
            <tld>lc</tld>
            <tld>li</tld>
            <tld>lk</tld>
            <tld>lr</tld>
            <tld>ls</tld>
            <tld>lt</tld>
            <tld>lu</tld>
            <tld>lv</tld>
            <tld>ly</tld>
            <tld>ma</tld>
            <tld>mc</tld>
            <tld>md</tld>
            <tld>mg</tld>
            <tld>mh</tld>
            <tld>mil</tld>
            <tld>mk</tld>
            <tld>ml</tld>
            <tld>mm</tld>
            <tld>mn</tld>
            <tld>mo</tld>
            <tld>mobi</tld>
            <tld>mp</tld>
            <tld>mq</tld>
            <tld>mr</tld>
            <tld>ms</tld>
            <tld>mt</tld>
            <tld>mu</tld>
            <tld>museum</tld>
            <tld>mv</tld>
            <tld>mw</tld>
            <tld>mx</tld>
            <tld>my</tld>
            <tld>mz</tld>
            <tld>na</tld>
            <tld>name</tld>
            <tld>nc</tld>
            <tld>ne</tld>
            <tld>net</tld>
            <tld>nf</tld>
            <tld>ng</tld>
            <tld>ni</tld>
            <tld>nl</tld>
            <tld>no</tld>
            <tld>np</tld>
            <tld>nr</tld>
            <tld>nt</tld>
            <tld>nu</tld>
            <tld>nz</tld>
            <tld>om</tld>
            <tld>org</tld>
            <tld>pa</tld>
            <tld>pe</tld>
            <tld>pf</tld>
            <tld>pg</tld>
            <tld>ph</tld>
            <tld>pk</tld>
            <tld>pl</tld>
            <tld>pm</tld>
            <tld>pn</tld>
            <tld>pr</tld>
            <tld>pro</tld>
            <tld>ps</tld>
            <tld>pt</tld>
            <tld>pw</tld>
            <tld>py</tld>
            <tld>qa</tld>
            <tld>re</tld>
            <tld>ro</tld>
            <tld>ru</tld>
            <tld>rw</tld>
            <tld>sa</tld>
            <tld>sb</tld>
            <tld>sc</tld>
            <tld>sd</tld>
            <tld>se</tld>
            <tld>sg</tld>
            <tld>sh</tld>
            <tld>si</tld>
            <tld>sj</tld>
            <tld>sk</tld>
            <tld>sl</tld>
            <tld>sm</tld>
            <tld>sn</tld>
            <tld>so</tld>
            <tld>sr</tld>
            <tld>st</tld>
            <tld>su</tld>
            <tld>sv</tld>
            <tld>sy</tld>
            <tld>sz</tld>
            <tld>tc</tld>
            <tld>td</tld>
            <tld>at.tf</tld>
            <tld>net.tf</tld>
            <tld>tf</tld>
            <tld>tg</tld>
            <tld>th</tld>
            <tld>tj</tld>
            <tld>tk</tld>
            <tld>tl</tld>
            <tld>tm</tld>
            <tld>tn</tld>
            <tld>to</tld>
            <tld>tp</tld>
            <tld>tr</tld>
            <tld>travel</tld>
            <tld>tt</tld>
            <tld>tv</tld>
            <tld>tw</tld>
            <tld>tz</tld>
            <tld>ua</tld>
            <tld>ug</tld>
            <tld>ac.uk</tld>
            <tld>co.uk</tld>
            <tld>gov.uk</tld>
            <tld>ltd.uk</tld>
            <tld>me.uk</tld>
            <tld>mod.uk</tld>
            <tld>net.uk</tld>
            <tld>nic.uk</tld>
            <tld>nhs.uk</tld>
            <tld>org.uk</tld>
            <tld>plc.uk</tld>
            <tld>police.uk</tld>
            <tld>sch.uk</tld>
            <tld>govt.uk</tld>
            <tld>orgn.uk</tld>
            <tld>lea.uk</tld>
            <tld>mil.uk</tld>
            <tld>nel.uk</tld>
            <tld>uk</tld>
            <tld>us</tld>
            <tld>uy</tld>
            <tld>uz</tld>
            <tld>va</tld>
            <tld>vc</tld>
            <tld>ve</tld>
            <tld>vg</tld>
            <tld>vi</tld>
            <tld>vn</tld>
            <tld>vu</tld>
            <tld>wf</tld>
            <tld>ws</tld>
            <tld>ye</tld>
            <tld>yt</tld>
            <tld>yu</tld>
            <tld>za</tld>
            <tld>zm</tld>
            <tld>zw</tld>
        </topLevelDomains>
        <database>
            <class>dk.netarkivet.harvester.datamodel.DerbyEmbeddedSpecifics</class>
            <url>jdbc:derby:harvestdefinitionbasedir/fullhddb</url>
            <backupInitHour>3</backupInitHour>
            <validityCheckTimeout>0</validityCheckTimeout>
        </database>
        <repository>
            <!-- Currently set to 10 MB -->
            <limitForRecordDatatransferInFile>10485760</limitForRecordDatatransferInFile>
        </repository>
        <batch>
            <maxExceptions>100</maxExceptions>
            <!-- Time between logging of batch status default 30 seconds. -->
            <loggingInterval>30000</loggingInterval>
            <!-- Batchjobs without a specified timeout will get this value (one week) -->
            <defaultBatchTimeout>604800000</defaultBatchTimeout>
        </batch>
        <replicas> <!-- The entire settings for replicas. -->
            <replica>
                <replicaId>ONE</replicaId>
                <replicaName>replicaOne</replicaName>
                <replicaType>bitarchive</replicaType>
            </replica>
            <replica>
                <replicaId>TWO</replicaId>
                <replicaName>replicaTwo</replicaName>
                <replicaType>bitarchive</replicaType>
            </replica>
            <replica>
                <replicaId>THREE</replicaId>
                <replicaName>replicaCs</replicaName>
                <replicaType>checksum</replicaType>
            </replica>
        </replicas>
        <useReplicaId>TWO</useReplicaId>
        <thisPhysicalLocation>physLocationOne</thisPhysicalLocation>
        <applicationName>NA</applicationName>
        <applicationInstanceId></applicationInstanceId>
    </common>
</settings>
