<?xml version="1.0" encoding="UTF-8"?>
<!--
 * File:        $Id$
 * Revision:    $Revision$
 * Author:      $Author$
 * Date:        $Date$
 *
 * The Netarchive Suite - Software to harvest and preserve websites
 * Copyright 2004-2018 The Royal Danish Library,
the National Library of France and the Austrian
National Library.
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 */
-->
<!--
	This file contains the default settings used by the harvester module.

	For documentation of the individual settings, please refer to the
	javadoc for dk.netarkivet.harvester.HarvesterSettings.java
-->
<settings>
    <harvester>
        <monitor>
            <!--  1 minute -->
            <refreshInterval>60</refreshInterval>
            <displayedHistorySize>30</displayedHistorySize>
            <displayedFrontierQueuesSize>100</displayedFrontierQueuesSize> <!-- optional, default = 100 -->
            <historySampleRate>300</historySampleRate><!--  in seconds, 5 minutes -->
            <historyChartGenInterval>300</historyChartGenInterval><!--  in seconds, 5 minutes -->
        </monitor>
        <harvesting>
            <serverDir>server</serverDir>
            <!-- Default is 400000000 bytes (~400 Mbytes). -->
            <minSpaceLeft>400000000</minSpaceLeft>
            <oldjobsDir>oldjobs</oldjobsDir>
            <channel></channel>
            <sendReadyInterval>30</sendReadyInterval>
            <sendReadyDelay>300</sendReadyDelay>
            <continuationFromHeritrixRecoverlogEnabled>false</continuationFromHeritrixRecoverlogEnabled>
            <heritrix>
                <!-- 30 minutes -->
                <inactivityTimeout>1800</inactivityTimeout>
                <!-- 30 minutes -->
                <noresponseTimeout>1800</noresponseTimeout>
                <!--  10 minutes -->
                <waitForReportGenerationTimeout>600</waitForReportGenerationTimeout>
                <!--  20 seconds -->
                <crawlLoopWaitTime>20</crawlLoopWaitTime>
                <abortIfConnectionLost>true</abortIfConnectionLost>
                <adminName>admin</adminName>
                <adminPassword>adminPassword</adminPassword>
                <guiPort>8090</guiPort>
                <jmxPort>8091</jmxPort>
                <jmxUsername>controlRole</jmxUsername>
                <jmxPassword>JMX_CONTROL_ROLE_PASSWORD_PLACEHOLDER</jmxPassword>
                <heapSize>1598M</heapSize>
                <javaOpts></javaOpts>
                <archiveFormat>warc</archiveFormat>
                <archiveNaming>
                    <class>dk.netarkivet.harvester.harvesting.LegacyNamingConvention</class>
                </archiveNaming>
                <warc>
                	<skipIdenticalDigests>false</skipIdenticalDigests>
					<writeRequests>false</writeRequests>
					<writeMetadata>false</writeMetadata>
					<writeMetadataOutlinks>false</writeMetadataOutlinks>
					<writeRevisitForIdenticalDigests>false</writeRevisitForIdenticalDigests>
					<writeRevisitForNotModified>false</writeRevisitForNotModified>
                </warc>
            </heritrix>
            <frontier>
                <!-- 2,5 minutes -->
                <frontierReportWaitTime>150</frontierReportWaitTime>
                <filter>
                    <class>dk.netarkivet.harvester.harvesting.frontier.TopTotalEnqueuesFilter</class>
                    <args></args>
                </filter>
            </frontier>
            <heritrixLauncher>
                <class>dk.netarkivet.harvester.heritrix3.controller.HeritrixLauncher</class>
            </heritrixLauncher>
            <heritrixController>
                <class>dk.netarkivet.harvester.heritrix3.controller.HeritrixController</class>
            </heritrixController>
            <harvestReport>
                <class>dk.netarkivet.harvester.harvesting.report.LegacyHarvestReport</class>
                <disregardSeedURLInfo>false</disregardSeedURLInfo>
            </harvestReport>
            <deduplication>
                <enabled>true</enabled>
            </deduplication>
            <metadata>
                <heritrixFilePattern>.*(\.xml|\.txt|\.log|\.out|\.cxml)</heritrixFilePattern>
                <reportFilePattern>.*-report.txt</reportFilePattern>
                <logFilePattern>.*(\.log|\.out)</logFilePattern>
                <archiveFilesReport>
                	<generate>true</generate>
                	<fileName>archivefiles-report.txt</fileName>
                	<fileHeader>[ARCHIVEFILE] [Closed] [Size]</fileHeader>
                </archiveFilesReport>
                <metadataFormat>warc</metadataFormat>
                <metadataFileNameFormat>default</metadataFileNameFormat>
            </metadata>
        </harvesting>
    </harvester>
</settings>
