grant codeBase "file:${java.home}/-" {
  permission java.security.AllPermission;
};

grant principal javax.management.remote.JMXPrincipal "monitorRole" {
  permission java.security.AllPermission;
};

grant codeBase "file:${dk.netarkivet.quickstart.basedir}/lib/-" {
  permission java.security.AllPermission;
};

grant codeBase "file:${dk.netarkivet.quickstart.basedir}/scripts/simple_harvest/lib/heritrix/lib/-" {
  permission java.security.AllPermission;
};

grant codeBase "file:${dk.netarkivet.quickstart.basedir}/scripts/simple_harvest/tests/commontempdir/Status/jsp/-" {
  permission java.security.AllPermission;
};

grant codeBase "file:${dk.netarkivet.quickstart.basedir}/scripts/simple_harvest/tests/commontempdir/QA/jsp/-" {
  permission java.security.AllPermission;
};

grant codeBase "file:${dk.netarkivet.quickstart.basedir}/scripts/simple_harvest/tests/commontempdir/History/jsp/-" {
  permission java.security.AllPermission;
};

grant codeBase "file:${dk.netarkivet.quickstart.basedir}/scripts/simple_harvest/tests/commontempdir/HarvestDefinition/jsp/-" {
  permission java.security.AllPermission;
};

grant codeBase "file:${dk.netarkivet.quickstart.basedir}/scripts/simple_harvest/tests/commontempdir/BitPreservation/jsp/-" {
  permission java.security.AllPermission;
};

/* These permissions allow third-party batch classes to read the bitarchive */
grant {
  permission java.io.FilePermission "${dk.netarkivet.quickstart.basedir}/scripts/simple_harvest/bitarchive1/filedir/*", "read";
  permission java.io.FilePermission "${dk.netarkivet.quickstart.basedir}/scripts/simple_harvest/bitarchive2/filedir/*", "read";
};

/* This allows third-party batch classes to figure out which location they're at
*/
grant {
  permission java.util.PropertyPermission "settings.common.thisPhysicalLocation", "read";
};
