<?xml version="1.0" encoding="UTF-8"?>
<!--
 * File:        $Id$
 * Revision:    $Revision$
 * Author:      $Author$
 * Date:        $Date$
 *
 * The Netarchive Suite - Software to harvest and preserve websites
 * Copyright 2004-2018 The Royal Danish Library,
the National Library of France and the Austrian
National Library.
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 */
-->
<!--
	This file contains the default settings used by the harvester module.

	For documentation of the individual settings, please refer to the
	javadoc for dk.netarkivet.harvester.HarvesterSettings.java
-->
<settings>
    <harvester>
    	<!-- snapshotChannelId>SNAPSHOT</snapshotChannelId -->
        <performer></performer>
        <aliases>
            <timeout>31536000</timeout>
        </aliases>
        <datamodel>
            <domain>
                <defaultSeedlist>defaultseeds</defaultSeedlist>
                <defaultConfig>defaultconfig</defaultConfig>
                <defaultOrderxml>default_orderxml</defaultOrderxml>
                <defaultMaxrate>100</defaultMaxrate>
                <defaultMaxbytes>1000000000</defaultMaxbytes>
                <defaultMaxobjects>-1</defaultMaxobjects>
                <defaultSchedule></defaultSchedule>
                <!-- Used when creating ids for new jobs after a admin
                database restore. -->
                <nextJobId>0</nextJobId>
                <validSeedRegex>^.*$</validSeedRegex>
            </domain>
        </datamodel>
        <scheduler>
            <limitSubmittedJobsInQueue>false</limitSubmittedJobsInQueue>
            <submittedJobsInQueueLimit>1</submittedJobsInQueueLimit>
            <!-- one week in seconds  - time before jobs terminate -->
            <jobtimeouttime>604800</jobtimeouttime>
            <jobgenerationperiod>60</jobgenerationperiod>
            <jobGen>
                <class>dk.netarkivet.harvester.scheduler.jobgen.DefaultJobGenerator</class>
                <objectLimitIsSetByQuotaEnforcer>true</objectLimitIsSetByQuotaEnforcer>
                <!-- used to set a limit on how long Heritrix should run. 0 means no limit. -->
                <maxTimeToCompleteJob>0</maxTimeToCompleteJob>
                <domainConfigSubsetSize>10000</domainConfigSubsetSize>
                <useAlternateSnapshotJobgenerationMethod>false</useAlternateSnapshotJobgenerationMethod>
                <config>
                    <!-- Only used by DefaultJobGenerator -->
                    <splitByObjectLimit>false</splitByObjectLimit>
                    <maxRelativeSizeDifference>100</maxRelativeSizeDifference>
                    <minAbsoluteSizeDifference>2000</minAbsoluteSizeDifference>
                    <maxTotalSize>8000000</maxTotalSize>
                    <errorFactorPrevResult>10</errorFactorPrevResult>
                    <errorFactorBestGuess>2</errorFactorBestGuess>
                    <expectedAverageBytesPerObject>38000</expectedAverageBytesPerObject>
                    <maxDomainSize>5000</maxDomainSize>
                    <!-- Used by FixedDomainConfigurationCountJobGenerator and as an absolute limit in DefaultJobGenerator -->
                    <fixedDomainCountSnapshot>10000</fixedDomainCountSnapshot>
                    <!-- Only used by FixedDomainConfigurationCountJobGenerator -->
                    <fixedDomainCountFocused>0</fixedDomainCountFocused>
                    <excludeDomainsWithZeroBudget>false</excludeDomainsWithZeroBudget>
                    <postponeUnregisteredChannel>true</postponeUnregisteredChannel>
                </config>
            </jobGen>
        </scheduler>
        <monitor>
            <!--  1 minute -->
            <refreshInterval>60</refreshInterval>
            <displayedHistorySize>30</displayedHistorySize>
            <displayedFrontierQueuesSize>100</displayedFrontierQueuesSize> <!-- optional, default = 100 -->
            <historySampleRate>300</historySampleRate><!--  in seconds, 5 minutes -->
            <historyChartGenInterval>300</historyChartGenInterval><!--  in seconds, 5 minutes -->
        </monitor>
        <harvesting>
            <serverDir>server</serverDir>
            <!-- Default is 400000000 bytes (~400 Mbytes). -->
            <minSpaceLeft>400000000</minSpaceLeft>
            <oldjobsDir>oldjobs</oldjobsDir>
            <channel></channel>
            <sendReadyInterval>30</sendReadyInterval>
            <sendReadyDelay>300</sendReadyDelay>
	    <!-- not implemented for Heritrix3 -->
            <continuationFromHeritrixRecoverlogEnabled>false</continuationFromHeritrixRecoverlogEnabled>
            <heritrix> <!-- heritrix1 settings -->
                <!-- 30 minutes -->
                <inactivityTimeout>1800</inactivityTimeout>
                <!-- 30 minutes -->
                <noresponseTimeout>1800</noresponseTimeout>
                <!--  10 minutes -->
                <waitForReportGenerationTimeout>600</waitForReportGenerationTimeout>
                <!--  20 seconds -->
                <crawlLoopWaitTime>20</crawlLoopWaitTime>
                <abortIfConnectionLost>true</abortIfConnectionLost>
                <adminName>admin</adminName>
                <adminPassword>adminPassword</adminPassword>
                <guiPort>8090</guiPort>
                <jmxPort>8091</jmxPort>
                <jmxUsername>controlRole</jmxUsername>
                <jmxPassword>JMX_CONTROL_ROLE_PASSWORD_PLACEHOLDER</jmxPassword>
                <heapSize>1598M</heapSize>
                <javaOpts></javaOpts>
                <archiveFormat>warc</archiveFormat>
                <archiveNaming>
                    <class>dk.netarkivet.harvester.harvesting.LegacyNamingConvention</class>
                </archiveNaming>
                <warc>
                	<skipIdenticalDigests>false</skipIdenticalDigests>
                	<writeRequests>true</writeRequests>
                	<writeMetadata>true</writeMetadata>
                	<writeMetadataOutlinks>false</writeMetadataOutlinks>
                	<writeRevisitForIdenticalDigests>false</writeRevisitForIdenticalDigests>
                	<writeRevisitForNotModified>false</writeRevisitForNotModified>
                	<startNewFilesOnCheckpoint>true</startNewFilesOnCheckpoint>
                	<writeMetadataOutlinks>true</writeMetadataOutlinks>
                </warc>
            </heritrix>
	    <heritrix3>	<!-- heritrix3 settings -->
                <!-- 30 minutes -->
                <inactivityTimeout>1800</inactivityTimeout>
                <!-- 30 minutes -->
                <noresponseTimeout>1800</noresponseTimeout>
                <!--  10 minutes -->
                <waitForReportGenerationTimeout>600</waitForReportGenerationTimeout>
                <!--  20 seconds -->
                <crawlLoopWaitTime>20</crawlLoopWaitTime>
                <abortIfConnectionLost>true</abortIfConnectionLost>
                <adminName>admin</adminName>
                <adminPassword>adminPassword</adminPassword>
                <guiPort>8090</guiPort>
                <heapSize>1598M</heapSize>
                <javaOpts></javaOpts>
                <archiveFormat>warc</archiveFormat>
                <archiveNaming>
                    <class>dk.netarkivet.harvester.harvesting.LegacyNamingConvention</class>
                </archiveNaming>
                <arc>
			<compression>false</compression>
                	<poolMaxActive>1</poolMaxActive>
			<maxFileSizeBytes>1000000000</maxFileSizeBytes>
			<suffix>${HOSTNAME}</suffix>
                </arc>
		<warc>	
			<template>${prefix}-${timestamp17}-${serialno}-${heritrix.hostname}</template>			
			<compression>false</compression>
                	<poolMaxActive>1</poolMaxActive>
			<maxFileSizeBytes>1000000000</maxFileSizeBytes>
	        	<writeRequests>true</writeRequests>
			<writeMetadata>true</writeMetadata>
			<writeMetadataOutlinks>false</writeMetadataOutlinks>
			<skipIdenticalDigests>false</skipIdenticalDigests>
			<startNewFilesOnCheckpoint>true</startNewFilesOnCheckpoint>
                </warc>
            </heritrix3>	
            <frontier>
                <!-- 10 minutes -->
                <frontierReportWaitTime>600</frontierReportWaitTime>
                <filter>
                    <class>dk.netarkivet.harvester.harvesting.frontier.TopTotalEnqueuesFilter</class>
                    <args></args>
                </filter>
            </frontier>
            <heritrixLauncher>
                <class>dk.netarkivet.harvester.heritrix3.controller.HeritrixLauncher</class>
            </heritrixLauncher>
            <heritrixController>
                <class>dk.netarkivet.harvester.heritrix3.controller.HeritrixController</class>
            </heritrixController>
            <harvestReport>
                <class>dk.netarkivet.harvester.harvesting.report.LegacyHarvestReport</class>
                <disregardSeedURLInfo>false</disregardSeedURLInfo>
            </harvestReport>
            <deduplication>
                <enabled>true</enabled>
            </deduplication>
            <metadata>
                <heritrixFilePattern>.*(\.xml|\.txt|\.log|\.out|\.cxml)</heritrixFilePattern>
                <reportFilePattern>.*-report.txt</reportFilePattern>
                <logFilePattern>.*(\.log|\.out)</logFilePattern>
                <archiveFilesReport>
                	<generate>true</generate>
                	<fileName>archivefiles-report.txt</fileName>
                	<fileHeader>[ARCHIVEFILE] [Opened] [Closed] [Size]</fileHeader>
                </archiveFilesReport>
                <metadataFormat>warc</metadataFormat>
                <compression>false</compression>
                <metadataFileNameFormat>default</metadataFileNameFormat>
                <filename>
                    <versionnumber>1</versionnumber>
                </filename>
            </metadata>
            <monitor>
                <tempPath>cached_crawllogs</tempPath>
            </monitor>
        </harvesting>
        <indexserver>
            <listeningcheckinterval>30000</listeningcheckinterval>
            <maxclients>20</maxclients>
            <maxthreads>10</maxthreads>
            <requestdir>requests</requestdir>
            <checkinterval>30000</checkinterval>
            <indexingtimeout>259200000</indexingtimeout>
            <maxsegments>42</maxsegments>
            <satisfactorythresholdpercentage>70</satisfactorythresholdpercentage>
            <lookfordataInAllBitarchiveReplicas>false</lookfordataInAllBitarchiveReplicas>
            <indexrequestserver>
                <class>dk.netarkivet.harvester.indexserver.distribute.IndexRequestServer</class>
            </indexrequestserver>
        </indexserver>
        <viewerproxy>
            <baseDir>viewerproxy</baseDir>
            <tryLookupUriAsFtp>false</tryLookupUriAsFtp>
            <!-- 10 MB -->
            <maxSizeInBrowser>10000000</maxSizeInBrowser>
            <allowFileDownloads>true</allowFileDownloads>
        </viewerproxy>
        <webinterface>
            <maxCrawlLogInBrowser>1000</maxCrawlLogInBrowser>
            <runningjobsFilteringMethod>database</runningjobsFilteringMethod>
        </webinterface>
    </harvester>
</settings>
